<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>${title!}</title>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="${path('/css/main.css')}" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="${path('/javascript/main.js')}"></script>
	<#if css??>
		<style type="text/css">
		${css}
		</style>
	</#if>
	<#if js??>
		<script type="text/javascript">
		${js}
		</script>
	</#if>
</head>

<body>
	${body}
</body>

</html>