header{
	background-color: #27ae60;
}
#body{
	margin-bottom:	10px;
}
#tags{
	text-align:	left;
	font-size:	12px;
}
#menu{
	text-align:	center;
}
.home, .home:hover, .home:focus{
	text-decoration: none;
	font-weight:	bold;
}
.home{
	color:	#50b4a2;
}
.home:hover{
	color:	#295;
}
.no-link{
	color:	gray;
}
#tags .badge+.badge{
	margin-left:	5px;
}
.appender{
	border: 1px solid black;
	border-radius: 16px;
	padding-left:	15px;
	padding-right:	15px;
	padding-top:	5px;
	padding-bottom:	5px;
}

#table-mvn.table tr>th{
	border-right: none;
}
#table-mvn.table tr>td{
	padding: 0;
	border: none;
}
#table-mvn.table tr>td>pre{
	margin: 0;
}