header{
	background-color: #27ae60;
}
#body{
	margin-bottom:	10px;
}
#tags{
	text-align:	left;
	font-size:	12px;
}
#menu{
	text-align:	center;
}
.home, .home:hover, .home:focus{
	font-weight:	bold;
}
.home{
	color:	#50b4a2;
}
.home:hover{
	color:	#295;
}
.no-link{
	color:	gray;
}
#tags .badge+.badge{
	margin-left:	5px;
}
.maven, .maven:hover{
	background-color:	#5285c5;
	color:		white;
	padding: 2px 4px;
	margin-right:	0;
}
.maven-artifact, .maven-artifact:hover{
	background-color:	green;
	color:		white;
	padding: 2px 4px;
	margin-left:	0;
}
.maven-code{
	margin-top:	3px;
}
.appender{
	border: 1px solid black;
	border-radius: 16px;
	padding-left:	15px;
	padding-right:	15px;
	padding-top:	5px;
	padding-bottom:	5px;
}
.table-version th{
	width:	20%;
}
.table-version td:nth-child(2){
	width:	20%;
}
.title-major{
	font-size:	24px;
}